<?xml version='1.0' encoding='utf-8'?>
<widget id="com.project.tvguide" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TVGuide</name>
    <description>
        TV Guide App to see what is available on TV right now
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
	<icon src="app-icon.png" />
    <access origin="*" />
</widget>
